<table class="table w-full">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Perfil</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% users.each do |user| %>
      <tr>
        <td><%= user.full_name.presence || user.email %></td>
        <td class="capitalize"><%= user.role&.name || 'Sin perfil' %></td>
        <td>
          <label for="edit-user-<%= user.id %>-modal" class="btn btn-sm">Editar</label>
          <%= render 'users/edit_modal', user: user, roles: roles %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
