<% race_predictor = current_user.permissions.find_or_initialize_by(name: 'race_predictor') %>
<input type="checkbox" id="settings-modal" class="modal-toggle" />
<div class="modal">
  <div class="modal-box w-11/12 max-w-2xl relative">
    <label for="settings-modal" class="btn btn-sm btn-circle absolute right-2 top-2">✕</label>
    <h3 class="text-2xl font-bold mb-4 flex items-center gap-2">
      <i class="fa-solid fa-gear fa-lg text-primary"></i>
      <span>Configuración</span>
    </h3>
    <%= form_with url: settings_path, method: :patch do %>
      <div class="form-control mb-4">
        <label class="label cursor-pointer">
          <%= check_box_tag :race_predictor, '1', race_predictor.enabled?, class: 'checkbox' %>
          <span class="label-text ml-2">Habilitar predictor de carrera</span>
        </label>
      </div>
      <button type="submit" class="btn btn-primary flex items-center gap-1">
        <i class="fa-solid fa-floppy-disk text-primary"></i>
        <span>Guardar</span>
      </button>
    <% end %>
  </div>
</div>
