<h1 class="text-2xl font-bold mb-4 flex items-center gap-2">
  <i class="fa-solid fa-gear fa-lg text-primary"></i>
  <span>Configuración</span>
</h1>
<%= form_with url: settings_path, method: :patch do %>
  <div class="form-control mb-4">
    <label class="label cursor-pointer">
      <%= check_box_tag :race_predictor, '1', @race_predictor.enabled?, class: 'checkbox' %>
      <span class="label-text ml-2">Habilitar predictor de carrera</span>
    </label>
  </div>
  <button type="submit" class="btn btn-primary flex items-center gap-1">
    <i class="fa-solid fa-floppy-disk text-primary"></i>
    <span>Guardar</span>
  </button>
<% end %>
